<h1>Stock</h1>

<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Ticker</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Change</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="company-logo"><%= image_tag("https://storage.googleapis.com/iex/api/logos/#{@stock.ticker}.png") %></td>
        <th scope="row"><%= @stock.ticker %></th>
        <td><%= @stock.name %></td>
        <td><%= @stock.price(@stock.ticker) %></td>
        <td><%= @stock.change(@stock.ticker) %></td>
        </td>
      </tr>
    </tbody>
  </table>
