<div class="results-block">
  <%= render 'shared/flashes' %>
</div>

<% if @friend %>
  <div class="card card-header results-block mt-3">
    <strong>Email: </strong> <%= @friend %>
    <strong>Name: </strong> <%= @friend %>
    <strong>Price: </strong> <%= @friend %>
    <%= link_to 'Follow fiend?', '#',
                                      class: "btn btn-outline-success btn-sm", method: :post %>
  </div>
<% end %>
