<div class="animation">
  <div class="perspective-text animate__animated animate__zoomInDown">
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective"></p>').html_safe, my_portfolio_path %>
      <%= link_to ('<p class="home-perspective">Discover</p>').html_safe, my_portfolio_path %>
    </div>
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective">Discover</p>').html_safe, my_portfolio_path %>
      <%= link_to ('<p class="home-perspective">the new way</p>').html_safe, my_portfolio_path %>
    </div>
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective">the new way</p>').html_safe, my_portfolio_path %>
      <%= link_to ('<p class="home-perspective">to manage</p>').html_safe, my_portfolio_path %>
    </div>
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective">to manage</p>').html_safe, my_portfolio_path %>
      <%= link_to ('<p class="home-perspective">your portfolio</p>').html_safe, my_portfolio_path %>
    </div>
    <div class="perspective-line">
      <%= link_to ('<p class="home-perspective">your portfolio</p>').html_safe, my_portfolio_path %>>
      <p></p>
    </div>
  </div>
</div>
